ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 0px;
    padding-left: 40px;
    margin-top: 40px;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 16px;
    margin-top: 10px;
}

.text-list {
    background-color: rgba(227, 239, 240, 0.418);
    width: 90%;
    margin: 0 18px 0 0;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-buttons{  
    border: none;
    margin: 0px;
    border-radius: 4px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 10px 10px;
    cursor: pointer;
    background: none rgba(0, 0, 0, 0.15);
    box-shadow: none;
    color: white;
    opacity: 1;
    font-weight: bold;
}

.add-task{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}